@mixin font-open() {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@mixin font-inter() {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@mixin fake-tasks-btn() {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.625rem;
  position: relative;
}
