$wrapper: linear-gradient(119.17deg, #ff7e5f 11.1%, #feb567 85.85%);
$todolist: #fff4e9;
$h1: #7f4b13;
$h1back: #ffca93;
$li: #ffdfbe;
$check: #feb567;
$delete: #fc8f1a;
$add: #ffecd8;
$action: rgba(127, 75, 19, 0.42);
$all: #c9955d;
